@import url('');



body {
    background-color: chocolate;
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
    background-position: center;
    background-size: cover;
}

#Main {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
}

#div1 {
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
}

#div2 {
    color: black;
    text-align: center;
    font-size: larger;
    font-family: serif;
}

#div3 {
    color: black;
    text-align: center;font-size: x-large;
    font-family: fantasy;
}
