@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');



body {
    background-color: skyblue;
    background-image: url();
    background-position: center;
    background-size: cover;
}

#Main {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
    text-decoration: underline;
}

#div1 {
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    text-decoration: underline;
}

#div2 {
    color: yellow;   
    text-align: center;
    font-size: larger;
    font-family: 'DynaPuff', cursive;
}

#div3 {
    color: black;
    text-align: center;font-size: x-large;
    font-family: fantasy;
    text-decoration: underline;
}

#div4 {
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    text-decoration: underline;
}

#div5 {
    color: yellow;
    text-align: center;
    font-size: larger;
    font-family: 'DynaPuff', cursive;
}

#div6 {
    text-align: center;
}
