@import url('https://thumbs.gfycat.com/BoringGraveAmericanbobtail-max-1mb.gif');



body {
    background-color: chocolate;
    background-image: url(https://scr.wfcdn.de/19607/Windows-Light-Wallpaper-1542273506-0-0.jpg);
    background-position: center;
    background-size: cover;
}

#Main {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
}

#h1 {
    color: black;
    text-align: left;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}